<div class="banner">
  <h1>Rent-a-peer</h1>
  <h2>We promise you won't be murdered!</h2>
</div>

<div class="homepage">
  <div class="search-bar-container">
    <form action="/" method="get" data-controller="search-bar">
      <input class="search-input" type="text" name="service" placeholder="What are you looking for today?" value="<%= params[:service] %>" data-search-bar-target="input" data-action="input->search-bar#typeUpdate blur->search-bar#blur focus->search-bar#focus">
      <input class="search-button hidden" type="submit" value="Search" data-search-bar-target="button">
    </form>
  </div>

  <div class="content">
    <div class="top-rated">
      <h2>Top rated Peers</h2>

      <% @top_rated.each do |peer| %>
        <%= link_to user_profile_path(peer), class: "peer" do %>
          <%= cl_image_tag(peer.profile_image.key, width: 60, height: 60, crop: :fill, class: "peer-profile-image") %>
          <div class="details">
            <p><%= peer.first_name %> <%= peer.last_name %></p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="services">
      <% @services.each do |service| %>
        <%= link_to service_path(service), class: "service-card" do %>
          <div class="service-icon">
            <i class="<%= service.icon %>"></i>
          </div>
          <p><%= service.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
