<div class="mx-5 container-services-show" style="margin: 120px 0;">
  <div class="services-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/1500/1500/<%= @service.name %>);">
    <div class="banner-text-container">
      <h1><%=@service.name%></h1>
      <p>Who's gonna be your <%=@service.name.downcase %> hero?</p>
    </div>
  </div>
  <div class="text-end">
    <%= link_to "Create Listing", new_service_listing_path(params[:id]), class: "btn btn-secondary" %>
  </div>

  <div class="user-listings">
    <% @listings.each do |listing| %>
      <div class="user-service-card">
        <img src=<%=cl_image_path(listing.user_service.user.profile_image.key)%>'>
        <div class="user-service-card__text-column">
          <div class="name-and-rating">
            <h2><strong><%=listing.user_service.user.first_name %></strong></h2>
            <h2><strong>4.2 ⭐️</strong></h2>
          </div>
            <p><%=listing.description %></p>
            <p class="rates"><%=(listing.hourly_rate).round %>€ / hour</p>
            <%= link_to "RAP #{listing.user_service.user.first_name}", new_service_listing_booking_path(@service, listing) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
