<div class="mx-5 container-services-show" style="margin: 120px 0;">
  <div class="services-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.ctfassets.net/0gqf8nju6pz6/3A6EcER4SuhrqFjAPrwxBq/f125abfda235d8c86637d605df13ed3c/cleaning-tools-hero.jpeg);">
    <div class="banner-text-container">
      <h1><%=@service.name%></h1>
      <p>Who is gonna be your <%=@service.name.downcase %> hero?</p>
    </div>
  </div>
<% @listings.each do |listing| %>
<div class="user-listings">
  <%# <% @user_service.user.each do |user| %>
  <div class="user-service-card">
	  <img src=<%=cl_image_path(listing.user_service.user.profile_image.key)%>'>
	<div class="user-service-card__text-column">
    <div class="name-and-rating">
      <h2><strong><%=listing.user_service.user.first_name %></strong></h2>
      <h2><strong>4,2 ⭐️</strong></h2>
    </div>
      <p><%=listing.description %></p>
      <p class="rates"><%=(listing.hourly_rate).round %>€ / hour</p>
      <%=link_to "RAP #{listing.user_service.user.first_name}", new_service_listing_booking_path(@service, listing) %>
      <% end %>
	</div>
  </div>
  <%# <% end %>
</div>
</div>
