<div class="form-container">
  <div class="form">
    <div class="form-image">
      <h2 class="form-heading">
        Confirm your booking
        <small>user_name - user_rates</small>
      </h2>
    </div>
<%= simple_form_for [@service, @listing, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { controller: "booking-pick-date" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { controller: "booking-pick-date" } }  %>
  <%= f.submit %>
<% end %>
<div class="form-info">
  <p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
</div>
</div>
<%=link_to "Changed you mind?", 'service_listing_booking_path', class:"btn btn-flat"%>
</div>
