<div class="form-container" style="margin: 120px 0;">
  <div class="form">
    <div class="form-image">
      <img src='<%=cl_image_path(@listing.user_service.user.profile_image.key)%>'>
      <h2 class="form-heading">
        <%=@listing.user_service.user.first_name%> is your <%=@service.name.downcase%> hero
      </h2>
    </div>

    <div class="card-form"></div>

    <%= simple_form_for [@service, @listing, @booking] do |f| %>
      <h3><%=@service.name %><small class="small-text"> (<%= @listing.hourly_rate.round%>€ / hour)</small></h3>
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "booking-pick-date" } }, class: "input-field" %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "booking-pick-date" } }, class: "input-field"  %>
      <div class="action">
        <%= f.submit "Yes!", class: "action-button" %>
        <%=link_to 'No...', service_path(@service), class:"action-button" %>
      <%# need to fix the "no.." button path %>
      </div>
    <% end %>
  </div>

  <div class="form-info">
    <p>By booking this <%=@service.name.downcase%> service you are agreeing to our <a href="#">Terms and Conditions</a></p>
  </div>
</div>
