<div class="page">
  <div class="banner-image">
    <% if @user.banner_image.key %>
      <%= cl_image_tag(@user.banner_image.key) %>
    <% else %>
      <div class="no-image"></div>
    <% end %>
  </div>

  <div class="profile-image">
    <%= cl_image_tag(@user.profile_image.key) %>
  </div>

  <h3><%= @user.location %></h3>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <div>
    <%= @services.each do |service| %>
      <p>service</p>
    <% end %>
  </div>
</div>
