<div class="rap-navbar" data-controller="navbar">
  <%= link_to root_path do %>
    <img src="/app/assets/images/logo.png" alt="RAP logo">
  <% end %>

  <div class="user">
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
    <div class="profile-dropdown">
      <a href="<%= profile_path %>">Profile</a>
      <a href="<%= edit_user_registration_path %>">Settings</a>
      <a href="<%= destroy_user_session_path %>" data-method="delete">Log out</a>
    </div>
    <%# <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
</div>
